* {
  margin: 0;
  box-sizing: border-box;
}
.hero-heading {
  background-color: #333333;
  color: #ffffff;
  font-family: var(--font);
}
.hero-padding > p {
  color: #ffffff;
}
.hero-padding {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
}
.card {
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 0px 10px 30px var(--pantone);
}
.flex-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 300px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.flex-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 1000px;
}
.line-break {
  height: 1px;
  background-color: #333333;
}
.flex-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.text-line {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
.app-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.app-heading {
  margin-left: 7rem;
}
h3,
p {
  font-family: var(--font);
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    gap: 10rem;
  }
  .flex-container2 {
    width: 600px;
    align-items: center;
    justify-content: center;
  }
}
