main {
    margin-top: 62px;
}

/* instagram section */
.instagram {
    margin-bottom: calc(2rem + 4vw);
}

.title {
    font-size: calc(1.2rem + 1vw);
    font-weight: 600;
    background-color: #333333;
    color: #eee8e8;
    padding: 2rem 0;
    text-align: center;
}

.instagram_intro {
    max-width: 80%;
    margin: auto;
    color: #333333;
    font-size: calc(0.6rem + 0.5vw);
}

.instagram_gallery {
    margin: 2rem;
    background-color: #333333; 
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(350px, 1fr)
    );
}

@media only screen  and (max-width: 768px) {
    .instagram_gallery {
        grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    );
    }
}

@media only screen  and (max-width: 600px) {
    .instagram_gallery {
        margin: 2rem 0;
        background-color: #333333; 
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(
          auto-fill,
          minmax(200px, 1fr)
        );
    }
}

.gallery_item {
    margin: 1rem;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    
}

.gallery_item:hover::after {
    content: url(../assets/icons/insta_hover.png);
    position: absolute;
    background-color: rgba(51, 51, 51, .6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram_image {
    max-width: 100%;
    border-radius: 2rem;
}



/* moods section */
.moods article {
    margin-top: calc(3rem + 3vw);
}

.moods_wrapper {
    margin: 2rem;
    margin-bottom: calc(3rem + 2vw);
}

@media only screen  and (max-width: 800px) {
    .moods_wrapper {
        margin: 1rem;
        margin-bottom: calc(3rem + 2vw);
    } 
}

.moods_image {
    max-width: 100%;
    border-radius: calc(2rem + 3vw);
    box-shadow: 0px 10px 30px var(--pantone);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color:#eee8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
}

.paragraph {
    font-size: calc(0.6rem + 0.5vw);
}

.subtitle {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen  and (max-width: 850px) {
    .subtitle {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.right,
.left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
}

.right_text {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-right: -30px;
    padding: 0 calc(3rem + 3vw) 0 calc(2rem + 1vw);
}


@media only screen  and (max-width: 850px) {
    .right_text {
        padding: 0 3rem 0 1rem;  
    }
}

.right_image {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}

.left_text {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    margin-left: -30px;
    padding: 0 calc(1rem + 1vw) 0 calc(2rem + 3vw); 
}

.left_image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}



@media only screen  and (max-width: 900px) {
    .left,
    .right {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
    }

    .right_text {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1; 
    }

    .right_image {
        grid-column: 3 / span 4;
        grid-row: 1 / span 3;
    }
    

    .left_text {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }

    .left_image {
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
    }
}

@media only screen  and (max-width: 600px) {
    .left,
    .right {
        grid-template-columns: .2fr 1fr .2fr ;
        grid-template-rows: 1fr .6fr;
    }

    .right_text,
    .left_text {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        order: 2;
        margin-left: 0;
        margin-right: 0;
        padding: 0 calc(1rem + 0.5vw);
    }

    .right_image,
    .left_image {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        order: 1;
    }

    .moods_wrapper {
        margin: 0;
        margin-bottom: calc(3rem + 2vw);
    }

    .moods_image {
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .paragraph,
    .instagram_intro  {
        font-size: calc(.8rem + 0.3vw);
    }

    .paragraph {
        padding-bottom: calc(1rem + 1vw);
        max-width: 400px;
    }

    .subtitle {
        font-size: calc(1.8rem + .5vw);
        margin-top: 1rem;
    }
}


/* @media only screen  and (max-width: 400px) {
    .instagram_intro  {
        max-width: 300px;
        font-size: calc(.8rem + 0.3vw);
    }
} */