@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --bg-footer: #f6f6f6;
  --main-text-color: #3a3a3a;
  --nav-text-color: #5d6b82;
  --pantone: #3cdbc0;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: var(--font);
}

/* Menu starts */

.active {
  text-decoration: underline;
  text-underline-position: under;
}

header {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16.5px;
  background: var(--bg-footer);
  z-index: 5;
}

.menu_head {
  display: flex;
  gap: 30px;
  padding: 1rem 4rem;
}

.menu_head ul {
  list-style: none;
}

.menu_text {
  width: 100%;
}

.menu_text > ul {
  display: flex;
  justify-content: center;
  gap: calc(0.5rem + 6vw);
  padding: 0;
  margin: 0;
}

.menu_head a {
  text-decoration: none;
  color: var(--nav-text-color);
  height: fit-content;
}

header img {
  width: 20px;
  vertical-align: middle;
}

.menu_logo img {
  width: 70px;
}

.menu_dropdown ul {
  position: absolute;
  background: var(--bg-footer);
  border-radius: 25px;
  width: 180px;
  padding: 0 0 0.6rem 0.8rem;
  margin-left: -1.8rem;
}

.menu_dropdown li {
  margin: 0.9rem;
  font-size: 15px;
}

.ham {
  background-image: url("../assets/icons/hamburger.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 0.3rem;
}

.cross {
  background-image: url("../assets/icons/cross.svg");
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  margin-top: 0.3rem;
}

.menu_chevron {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.menu_text a {
  position: relative;
}

.menu_text a:before {
  content: "";
  position: absolute;
  background-color: var(--nav-text-color);
  width: 100%;
  height: 1.5px;
  bottom: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-out;
}

#menu_search {
  height: fit-content;
  cursor: pointer;
}

.search_box {
  position: relative;
  text-align: center;
  margin: 1rem;
}

.search_box input[type="text"] {
  color: var(--nav-text-color);
  font-family: var(--font);
  border: none;
  border-bottom: 1.7px solid var(--nav-text-color);
  height: 14px;
  width: 50%;
  font-size: 16px;
  padding-bottom: 0.5rem;
  background: none;
  outline: none;
}

.search_box input[type="text"]::placeholder {
  color: var(--nav-text-color);
}

#search_button {
  border: none;
  background: none;
  cursor: pointer;
}

#search_cross {
  margin-top: 0.2rem;
  margin-left: 0.7rem;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .menu_dropdown:hover ul {
    display: block;
  }

  .menu_text a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 900px) {
  .menu_text {
    display: none;
  }

  .menu_logo {
    margin-right: auto;
  }

  .menu_scroll {
    height: 100%;
    overflow-y: auto;
  }

  .ham {
    display: block;
  }

  #menu_drop1,
  #menu_drop2 {
    display: block;
    width: 17px;
    float: right;
    margin-top: 0.5rem;
    margin-right: -9.3rem;
  }

  .menu_text.responsive {
    display: block;
    margin-top: 7rem;
    height: 100vh;
  }

  .menu_text.responsive ul {
    flex-direction: column;
    margin-left: -6rem;
    gap: 3rem;
  }

  .menu_dropdown ul {
    position: relative;
    margin-top: 2.2rem;
  }

  .menu_dropdown:last-of-type ul {
    margin-bottom: 4rem;
  }

  .menu_dropdown li {
    width: 100%;
    margin: 1.4rem 0 0 8rem;
  }
}

@media screen and (max-width: 500px) {
  .menu_head {
    padding: 1rem 1.5rem;
  }
}

/* Menu ends */

/* footer styling */

footer.main_footer {
  font-size: 18px;
  background-color: var(--bg-footer);
  padding: 0 2rem;
  font-family: var(--font);
  color: var(--main-text-color);
}

@media only screen and (max-width: 600px) {
  footer.main_footer {
    font-size: 16px;
  }

  footer.main_footer {
    padding: 0 1rem;
  }
}

.footer_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
}

.footer_links {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-bottom: 1px solid #221f1f;
}

.footer_subscribe {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  border-bottom: 1px solid #221f1f;
  padding-left: 10vw;
}

.footer_subscribe .form_subscribe {
  width: 25vw;
  border-bottom: 2px solid #221f1f;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .footer_subscribe .form_subscribe {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .footer_subscribe {
    padding-left: 0;
  }
}

.footer_subscribe .form_subscribe * {
  border: none;
}

.footer_subscribe .form_subscribe input[type="email"] {
  /* color: #f2f2f2; */
  font-size: 17px;
  font-family: var(--font);
  width: 100%;
  background-color: var(--bg-footer);
}

.footer_subscribe .form_subscribe input[type="email"]::placeholder {
  color: #928f8f;
}

@media only screen and (max-width: 600px) {
  .footer_subscribe .form_subscribe input[type="email"] {
    font-size: 15px;
  }
}

.footer_subscribe .form_subscribe button[type="submit"] {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: var(--bg-footer);
}

.footer_subscribe .form_subscribe button[type="submit"]:hover {
  transform: translateX(3px);
}

.footer_subscribe .form_subscribe button[type="submit"] img {
  width: 1rem;
  height: auto;
}

.footer_payment {
  margin-top: 1.5rem;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.footer_payment > * {
  margin-right: 1rem;
}

.footer_social {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.footer_social > * {
  margin-left: 1rem;
}

.footer_general {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  text-align: center;
}

.icon_SoMe,
.icon_payment {
  width: auto;
  height: 2rem;
}

footer.main_footer ul {
  list-style: none;
  padding: 0;
}

footer.main_footer a {
  text-decoration: none;
  color: var(--main-text-color);
}

@media only screen and (max-width: 500px) {
  .footer_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
  }

  .footer_subscribe {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-bottom: none;
    margin-bottom: 1.5rem;
  }

  .footer_links {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .footer_payment {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
  }

  .footer_payment * {
    margin-right: 1rem;
  }

  .footer_social {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    justify-content: flex-start;
    margin-top: 1.5rem;
  }

  .footer_social * {
    margin-right: 1rem;
    margin-left: 0;
  }

  .footer_general {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
  }

  .footer_general p {
    margin-bottom: 0;
  }
}

/* modal footer */
.modal_subscribe {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 60%;
}

.close {
  color: var(--secondary-text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
}
